[Unit]
Description=Service for backing up the /data directory in the overleaf-toolkit

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo "=== Backup started at $(date)" && /ssd/overleaf/overleaf-toolkit/ou-instance/backup-data-directory.sh --auto && echo "=== Backup completed at $(date) ==="'
StandardOutput=append:/ssd/overleaf/overleaf-toolkit/ou-instance/backups/logs/backup.log
StandardError=append:/ssd/overleaf/overleaf-toolkit/ou-instance/backups/logs/backup.log
